body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 24px;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
}

.toolbar {
    width: 80%;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

#statusText {
    color: #ccc;
}

button {
    padding: 8px 14px;
    border: 1px solid #555;
    background: #222;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.table-wrapper {
    margin: 0 auto 32px auto;
}

.tables-row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 32px auto;
    width: 80%;
}

.table-wrapper.top5 {
    width: 48%;
}

.table-wrapper.last-wr {
    width: 48%;
}

.table-wrapper.maps {
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #0d0d0d;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

th {
    background: #222;
}

tr:nth-child(even) {
     background: #171717;
}

h2 {
    margin: 0 0 12px 0;
    text-align: center;
}

tr.new-wr {
    background-color: #3fe21e !important;
    color: #000 !important;
}

/*Search bar*/
.search-wrapper {
  width: 100%;
  margin: 0 auto 20px auto;
  position: relative;
}

.search-wrapper label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  color: #ddd;
}

.search-wrapper input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #444;
  background: #1a1a1a;
  color: white;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  width: 100%;
  background: #1a1a1a;
  border: 1px solid #444;
  border-top: none;
  max-height: 220px;
  overflow-y: auto;
  z-index: 10;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #2a2a2a;
}

.suggestion-item:hover {
  background: #2a2a2a;
}

.details-row td {
  background: #181818;
}